<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Proyecto</title>
    <!-- USING BOOTSTRAP FOR STYLING USER INTERFACE -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
        .customRow{
            background-color: #f2f2f2;
            padding: 20px;
        }
</style>
</head>

<body>
    <div class="customRow">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center">Proyecto Docker</h1>
                    <hr>
                    <form action="" method="POST">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" name="name" class="form-control" placeholder="Name" id="name" required>
                            <label for="email">Email</label>
                            <input type="text" name="email" class="form-control" placeholder="Email" id="email" required>
                            <label for="password">Password</label>
                            <input type="password" name="password" class="form-control" placeholder="Password" id="password" required>
                            <br>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="optradio" value="SQL" checked>
                                <label class="form-check-label" for="optradio">
                                    SAVE TO SQL
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="optradio"  value="CACHE">
                                <label class="form-check-label" for="optradio">
                                    SAVE TO CACHE
                                </label>
                            </div>
                            <br>
                            <input type="submit" value="POST" class="btn btn-primary">
                        </div>
                    </form>
                    <hr>
                    <div><label>Items stored in SQL: {{sql}}</label></div>
                    <div><label>Items stored in Cache: {{redis}}</label></div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>